<h1 class="text-center">經典3W了解這一切</h1>
<div class="hero-unit">
  <h1 class="text-center">這裡做什麼？</h1><br />
  <p>這是一個免費提供給崑山學生又或是說新生認識崑山環境的一個資訊網站，希望透過大家的力量結合起來，擴充網站上的資源，提供給全校學生參考。</p><br />
  <h1 class="text-center">我們做什麼？</h1><br />
	<p><%= link_to '加入我們', new_user_registration_path %>後不斷的擴增資料，不斷的推薦資訊，不斷的給予評價與建議，讓大家可以更了解每一家店面。</p><br />
	<h1 class="text-center">怎麼開始？</h1><br />
	<p>很簡單，透過<%= link_to '加入我們', new_user_registration_path %>或直接由 FaceBook 直接登入，並且此網站不會要求留下其他敏感資料。</p>
</div>